* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ! RESPONSIVE */
/* TABLET */
@media screen and (max-width: 768px) {
  .categ__txtTitulo {
    font-size: 25px; }
  .colorbox {
    padding: 8px; }
  .txt1 {
    font-size: 17px; }
  .txt2 {
    font-size: 13px; }
  .txt3 {
    font-size: 13px; }
  .btn {
    size-adjust: 50%; } }

/* MOBILE */
@media screen and (max-width: 500px) {
  .header__title {
    font-size: 17px; }
  form {
    width: 300px;
    padding: 0.2rem; }
  .form-style h3 {
    font-size: 15px;
    padding-bottom: 15px;
    text-align: center; }
  .form-style legend {
    font-size: 13px;
    font-family: "Adamina-Regular.ttf"; }
  .hist p {
    font-size: 10px; }
  .categorias .card {
    margin: 0.2em; }
    .categorias .card img {
      width: 11rem;
      height: 11rem; }
  .txt1 {
    font-size: 13px; } }

@media screen and (max-width: 1000px) {
  .hist {
    font-size: 10px; } }

/* ! RESPONSIVE */
/* TABLET */
@media screen and (max-width: 768px) {
  .categ__txtTitulo {
    font-size: 25px; }
  .colorbox {
    padding: 8px; }
  .txt1 {
    font-size: 17px; }
  .txt2 {
    font-size: 13px; }
  .txt3 {
    font-size: 13px; }
  .btn {
    size-adjust: 50%; } }

/* MOBILE */
@media screen and (max-width: 500px) {
  .header__title {
    font-size: 17px; }
  form {
    width: 300px;
    padding: 0.2rem; }
  .form-style h3 {
    font-size: 15px;
    padding-bottom: 15px;
    text-align: center; }
  .form-style legend {
    font-size: 13px;
    font-family: "Adamina-Regular.ttf"; }
  .hist p {
    font-size: 10px; }
  .categorias .card {
    margin: 0.2em; }
    .categorias .card img {
      width: 11rem;
      height: 11rem; }
  .txt1 {
    font-size: 13px; } }

@media screen and (max-width: 1000px) {
  .hist {
    font-size: 10px; } }

/*! ESTILOS GENERALES Y UNIVERSALES */
/* -- clases para etiquetas -- */
a {
  text-decoration: none;
  font-family: "Adamina-Regular.ttf";
  color: #576F72; }

body {
  background-color: #F2EEE5;
  width: 100%; }

li {
  list-style-type: none;
  padding: 0cm;
  display: flex;
  justify-content: center; }

ul {
  padding-left: 0rem; }

/*! ESTILOS PARA BLOQUES GENERALES */
.seo h1 {
  font-size: 1em;
  margin-top: 1em;
  font-family: "Adamina-Regular.ttf";
  color: #576F72;
  text-align: center;
  letter-spacing: 0.1em; }

.header__menu ul {
  display: flex;
  color: #486261; }

footer {
  margin: 1%;
  background-color: #F5F4EF; }
  footer hr {
    margin: 0.4rem; }
  footer section, footer h5, footer h4 {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1%;
    font-family: "Adamina-Regular.ttf";
    color: #546157; }
  footer div {
    margin: 0%; }
  footer h6 {
    font-size: 12px;
    font-style: italic;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Adamina-Regular.ttf";
    color: grey; }
  footer img {
    border-radius: 50%;
    width: 40px;
    height: 40px; }
    footer img:hover {
      transform: scale(1.02, 1.02);
      filter: drop-shadow(0 0 0.1rem #bbb4a9); }

.row {
  margin: 0.5rem; }

.navbar {
  --bs-navbar-brand-padding-y: 0rem; }

.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
  color: #546157;
  font-weight: bold; }

.navbar-brand :hover {
  transform: scale(1.009, 1.009); }

.navbar-nav :hover {
  --bs-nav-link-hover-color: #95ada0; }

.bg-light {
  --bs-bg-opacity: 0.5; }

.navbar-toggler {
  position: relative;
  top: -3em;
  left: -1em;
  margin-bottom: -2em;
  background-color: transparent;
  border: transparent;
  display: flex;
  justify-content: end; }

/* ! RESPONSIVE */
/* TABLET */
@media screen and (max-width: 768px) {
  .categ__txtTitulo {
    font-size: 25px; }
  .colorbox {
    padding: 8px; }
  .txt1 {
    font-size: 17px; }
  .txt2 {
    font-size: 13px; }
  .txt3 {
    font-size: 13px; }
  .btn {
    size-adjust: 50%; } }

/* MOBILE */
@media screen and (max-width: 500px) {
  .header__title {
    font-size: 17px; }
  form {
    width: 300px;
    padding: 0.2rem; }
  .form-style h3 {
    font-size: 15px;
    padding-bottom: 15px;
    text-align: center; }
  .form-style legend {
    font-size: 13px;
    font-family: "Adamina-Regular.ttf"; }
  .hist p {
    font-size: 10px; }
  .categorias .card {
    margin: 0.2em; }
    .categorias .card img {
      width: 11rem;
      height: 11rem; }
  .txt1 {
    font-size: 13px; } }

@media screen and (max-width: 1000px) {
  .hist {
    font-size: 10px; } }

/*! ESTILOS INDEX */
.hero img:hover {
  filter: drop-shadow(0 0 0.6rem #bbb4a9);
  transition: all .5s; }

.btn {
  font-family: "Adamina-Regular.ttf";
  border-radius: 20%;
  margin-top: 1rem; }
  .btn p {
    margin: 1rem; }

/* CARDS */
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  padding-right: 0;
  padding-left: 0; }

.card-index {
  text-align: center; }
  .card-index .card {
    --bs-card-border-color: transparent;
    margin-bottom: 1rem;
    margin: 1rem; }
  .card-index .card-title {
    margin: var(--bs-card-title-spacer-y); }
  .card-index img {
    margin-top: 0.5rem; }
  .card-index p {
    font-size: 0.9rem;
    font-style: italic; }
  .card-index a:hover {
    transform: scale(1.007, 1.007);
    filter: drop-shadow(0 0 0.3rem #E4DCCF);
    transition: all .1s;
    color: #546157; }
  .card-index .card-body {
    padding: 0px;
    color: #546157; }

/* ! RESPONSIVE */
/* TABLET */
@media screen and (max-width: 768px) {
  .categ__txtTitulo {
    font-size: 25px; }
  .colorbox {
    padding: 8px; }
  .txt1 {
    font-size: 17px; }
  .txt2 {
    font-size: 13px; }
  .txt3 {
    font-size: 13px; }
  .btn {
    size-adjust: 50%; } }

/* MOBILE */
@media screen and (max-width: 500px) {
  .header__title {
    font-size: 17px; }
  form {
    width: 300px;
    padding: 0.2rem; }
  .form-style h3 {
    font-size: 15px;
    padding-bottom: 15px;
    text-align: center; }
  .form-style legend {
    font-size: 13px;
    font-family: "Adamina-Regular.ttf"; }
  .hist p {
    font-size: 10px; }
  .categorias .card {
    margin: 0.2em; }
    .categorias .card img {
      width: 11rem;
      height: 11rem; }
  .txt1 {
    font-size: 13px; } }

@media screen and (max-width: 1000px) {
  .hist {
    font-size: 10px; } }

/*! ESTILOS CATEGORIAS*/
.categ__txtTitulo {
  font-size: 30px;
  font-weight: light;
  font-family: 'Aboreto', cursive;
  text-decoration: overline;
  text-align: center;
  color: #576F72;
  margin-top: 1.3rem;
  margin-bottom: 0.9rem; }

.menu-categ {
  color: #546157; }
  .menu-categ h3 {
    font-family: "Adamina-Regular.ttf"; }
  .menu-categ a:hover {
    text-decoration: underline;
    color: #576F72; }

/* CARDS */
.card-body {
  padding: 0px;
  color: #546157; }

.categorias .card {
  margin: 1em;
  --bs-card-bg: transparent;
  --bs-card-border-color: transparent;
  text-align: center;
  --bs-card-title-spacer-y: 0rem;
  display: block; }
  .categorias .card img {
    width: 13rem;
    height: 13rem;
    border-radius: 20%; }
  .categorias .card h5 {
    font-size: 1rem;
    margin-top: 0.5rem; }
  .categorias .card p {
    font-size: 0.8rem;
    font-style: italic; }
  .categorias .card a:hover {
    transform: scale(1.007, 1.007);
    transition: all .1s;
    color: #546157; }

/* ! RESPONSIVE */
/* TABLET */
@media screen and (max-width: 768px) {
  .categ__txtTitulo {
    font-size: 25px; }
  .colorbox {
    padding: 8px; }
  .txt1 {
    font-size: 17px; }
  .txt2 {
    font-size: 13px; }
  .txt3 {
    font-size: 13px; }
  .btn {
    size-adjust: 50%; } }

/* MOBILE */
@media screen and (max-width: 500px) {
  .header__title {
    font-size: 17px; }
  form {
    width: 300px;
    padding: 0.2rem; }
  .form-style h3 {
    font-size: 15px;
    padding-bottom: 15px;
    text-align: center; }
  .form-style legend {
    font-size: 13px;
    font-family: "Adamina-Regular.ttf"; }
  .hist p {
    font-size: 10px; }
  .categorias .card {
    margin: 0.2em; }
    .categorias .card img {
      width: 11rem;
      height: 11rem; }
  .txt1 {
    font-size: 13px; } }

@media screen and (max-width: 1000px) {
  .hist {
    font-size: 10px; } }

/*! ESTILOS CONTACTO */
form {
  margin: auto;
  color-scheme: #576F72;
  display: block;
  text-align: center; }

.form-style h3 {
  padding-bottom: 15  px;
  font-size: 1.4rem;
  text-align: center;
  color: #546157;
  font-family: "Adamina-Regular.ttf";
  letter-spacing: 0.1em; }

.form-style legend {
  font-size: 1rem;
  font-family: "Adamina-Regular.ttf";
  margin-bottom: 0cm; }

.form-style label {
  font-size: 0.8rem;
  color: #576F72; }

input {
  font-size: 0.8rem;
  font-family: 'Inconsolata', monospace;
  width: auto;
  margin: 0.7em; }

textarea {
  margin: 0.7em;
  font-size: 0.8rem;
  vertical-align: top;
  font-family: 'Inconsolata', monospace; }

/* ! RESPONSIVE */
/* TABLET */
@media screen and (max-width: 768px) {
  .categ__txtTitulo {
    font-size: 25px; }
  .colorbox {
    padding: 8px; }
  .txt1 {
    font-size: 17px; }
  .txt2 {
    font-size: 13px; }
  .txt3 {
    font-size: 13px; }
  .btn {
    size-adjust: 50%; } }

/* MOBILE */
@media screen and (max-width: 500px) {
  .header__title {
    font-size: 17px; }
  form {
    width: 300px;
    padding: 0.2rem; }
  .form-style h3 {
    font-size: 15px;
    padding-bottom: 15px;
    text-align: center; }
  .form-style legend {
    font-size: 13px;
    font-family: "Adamina-Regular.ttf"; }
  .hist p {
    font-size: 10px; }
  .categorias .card {
    margin: 0.2em; }
    .categorias .card img {
      width: 11rem;
      height: 11rem; }
  .txt1 {
    font-size: 13px; } }

@media screen and (max-width: 1000px) {
  .hist {
    font-size: 10px; } }

/*! ESTILOS TIENDA */
.colorbox {
  background-color: #E4DCCF;
  padding: 15px;
  text-align: center;
  height: auto; }

.txt1 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 1rem; }

.dias {
  font-size: 15px;
  font-weight: normal;
  text-decoration: underline; }

.horarios {
  font-size: 15px;
  font-weight: normal;
  padding-top: 10px;
  padding-bottom: 5px; }

.green {
  color: #486261; }

.frente {
  width: 60%;
  height: 60%; }
