/* ! RESPONSIVE */
/* TABLET */
@media  screen and (max-width: 768px) {

    .categ__menu ul{
        font-size: 15px;
    }
    .gallery{
        --n-col: 2;
        --row-height: 300px;
    }
    .categ__txtTitulo{
        font-size: 25px;
    }
    .categ__img{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .categ__img img{
        width: 200px;
        height: 200px;
        margin: 10px;
    }
    .contenedor{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap ;
    } 
    .colorbox{
        padding: 8px;
    }
    .tienda__txt1{
        font-size: 17px;
    }
    .tienda__txt2{
        font-size: 13px;
    }
    .tienda__txt3{
        font-size: 13px;
    }
    .btn{
        size-adjust: 50%;
    }
}
/* MOBILE */
@media  screen and (max-width: 500px) {
    .header__title{
        font-size: 20px;
    }
    .footer{
        font-size: 8px;
    }
    .header__title{
        font-size: 16px;
    }
    .gallery{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .gallery img{
        width: 200px;
        height: 200px;
    }
    form{
        width: 300px;
        padding: 0.2rem;
    }
    .form-style h3{
        font-size: 15px;
        padding-bottom: 15px;
        text-align: center;
    }
    .form-style legend{
        font-size: 13px;
    }
    .hist p{
        font-size: 10px;    
    }
}

@media screen and (max-width: 1000px) {
    .gallery{
        --n-col: 3;
    }
    .hist{
        font-size: 10px;
    }
}
