/* ! RESPONSIVE */
/* TABLET */
@media  screen and (max-width: 768px) {

    .categ__txtTitulo{
        font-size: 25px;
    }
    .colorbox{
        padding: 8px;
    }
    .txt1{
        font-size: 17px;
    }
    .txt2{
        font-size: 13px;
    }
    .txt3{
        font-size: 13px;
    }
    .btn{
        size-adjust: 50%;
    }
}
/* MOBILE */
@media  screen and (max-width: 500px) {
    .header__title{
        font-size: 17px;
    }
    form{
        width: 300px;
        padding: 0.2rem;
    }
    .form-style{
        h3{
            font-size: 15px;
            padding-bottom: 15px;
            text-align: center;
        }
        legend{
            font-size: 13px;
            font-family: $mainFont;
        }
    } 
    .hist p{
        font-size: 10px;    
    }
}

@media screen and (max-width: 1000px) {
    .hist{
        font-size: 10px;
    }
}
