@import "media";
@import "variables";

/*! ESTILOS GENERALES Y UNIVERSALES */

/* -- clases para etiquetas -- */
a{
    text-decoration: none;
    font-family: map-get($estilos, fuente);
    color: map-get($colores, verde);
}
body{
    background-color: #F2EEE5;
    width: 100%;
}
li{
    list-style-type: none;
    padding: 0cm;
    display: flex;
    justify-content: center;
}
ul {
    padding-left: 0rem;
}

/*! ESTILOS PARA BLOQUES GENERALES */
.seo{
    h1{
        font-size:1em;
        margin-top: 1em;
        font-family: map-get($estilos, fuente);
        color: map-get($colores, verde);
        text-align: map-get($estilos, alineacion);
        letter-spacing: 0.1em;
    }
}
.header__menu ul{
    display: flex;
    color: map-get($colores, verdeOscuro);
}
footer{
    margin: 1%;
    background-color: #F5F4EF;
    hr{
        margin: 0.4rem;
    }
    section, h5, h4{
        font-size: 14px;
        @include flex-row-center;
        margin-bottom: 1%;
        font-family: map-get($estilos, fuente);
        color: map-get($colores, verdePcpal);
        }
    div{
        margin: 0%;
    }
    h6{
        font-size: 12px;
        font-style: italic;
        @include flex-row-center;
        font-family: map-get($estilos, fuente);
        color: grey;
    }
    img{
        border-radius: 50%;
        @include sizes(40px, 40px);
        &:hover{
            transform: scale(1.02, 1.02);
            filter: drop-shadow(0 0 0.10rem map-get($colores, mainBeige));    
    }
    }
}
.row {
    margin: 0.5rem;
}

.navbar{
    --bs-navbar-brand-padding-y: 0rem;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color:map-get($colores, verdePcpal);
    font-weight: bold;
}
.navbar-brand :hover{
    transform: scale(1.009,1.009);
}
.navbar-nav :hover{
    --bs-nav-link-hover-color: #95ada0;
}
.bg-light {
    --bs-bg-opacity: 0.5;
}

.navbar-toggler {
    position: relative;
    top: -3em;
    left: -1em;
    margin-bottom: -2em;
    background-color: transparent;
    border: transparent;
    display: flex;
    justify-content: end;
}