@import "media";
@import "variables";

/*! ESTILOS CATEGORIAS*/

.categ__txtTitulo{
    font-size: 30px;
    font-weight: light;
    font-family: 'Aboreto', cursive;
    text-decoration: overline;
    text-align: center;
    color:  map-get($colores, verde);;
    margin-top: 1.3rem;
    margin-bottom: 0.9rem;
}
.menu-categ{
    color: map-get($colores, verdePcpal);
    h3{
        font-family: map-get($estilos, fuente);
    }
    a:hover{
        text-decoration: underline;
    }
}
/* CARDS */
.card-body {
    padding: 0px;
    color: map-get($colores, verdePcpal);
}
.categorias{
    .card{
        margin: 1em;
        --bs-card-bg: transparent;
        --bs-card-border-color: transparent;
        text-align: center;
        --bs-card-title-spacer-y: 0rem;
        display: block;
        img{
            @include sizes(13rem, 13rem);
        }
        h5{
            font-size: 1rem;
            margin-top: 0.5rem;
        }
        p{
            font-size: 0.8rem;
            font-style: italic;
        }
        a:hover{
            transform: scale(1.007, 1.007);
            transition: all .1s;
            color: map-get($colores, verdePcpal);
        }
    }
}