$darkgreen: #576F72;
$darkergreen: #486261;
$maingreen: #546157;
$mainbeige: #bbb4a9;
$mainFont: "Adamina-Regular.ttf";

@mixin sizes($w, $h){
    width: $w;
    height: $h;
}

@mixin flex-row-center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin flex($d, $fd, $w){
    display: $d;
    flex-direction: $fd;
    flex-wrap: $w;
}