// Recordar siempre poner en la consola: "npm run watch-css"
@import "media";
@import "variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/*! ESTILOS GENERALES Y UNIVERSALES */

/* -- clases para etiquetas -- */

a{
    text-decoration: none;
    font-family: $mainFont;
    color: $darkgreen;
}

body{
    background-color: #F2EEE5;
    width: 100%;
}

div{
    margin: 10px;
}

li{
    list-style-type: none;
    text-align: center;
}

/* -- clases para lineas en particular --  */

.imgCentered{
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.txtcentrado{
    text-align: center;
    margin-top: 18px;
    font-family: $mainFont;
}

/*! ESTILOS PARA BLOQUES GENERALES */

.header__menu ul{
    display: flex;
    justify-content: end;
    padding: 0.5rem 4rem 0.5rem 0.5rem;
    color: $darkergreen;
}
.footer{
    section, h4, h5{
        font-size: 14px;
        @include flex-row-center;
        margin-bottom: 1%;
        font-family: $mainFont;
        color: $maingreen;
    }
    img{
        border-radius: 50%;
        @include sizes(40px, 40px);
        &:hover{
            transform: scale(1.05, 1.05);
        }
    }
    
}

.navbar{
    --bs-navbar-brand-padding-y: 0rem;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color:$maingreen;
    font-weight: bold;
}
.navbar-brand :hover{
    transform: scale(1.009,1.009);
}
.navbar-nav :hover{
    --bs-nav-link-hover-color: #95ada0;
}
.bg-light {
    --bs-bg-opacity: 0.5;
}

/*! ESTILOS INDEX */

.hero{
    img{
    position: relative;
    margin-top: 1.5%;
    margin-bottom: 3%;
    transform: scale(1.1, 1);
    &:hover{
        transform: scale(1.014, 1.014);
        filter: drop-shadow(0 0 0.60rem $mainbeige);
        transition: all .5s;
    }
    }
}

.btn{
    font-family: $mainFont;
    border-radius: 20%;
    margin-top: 1rem;
    p{
        margin: 1rem;
    }
}

.btn-primary { // ? NO SÉ POR QUÉ NO ME FUNCIONAN ESTAS VARIABLES
    // --bs-btn-bg: $mainbeige;
    // --bs-btn-border-color: $mainbeige;
    // --bs-btn-hover-bg: $maingreen;
    // --bs-btn-hover-border-color: $maingreen;
    // --bs-btn-active-bg: $maingreen;
    // --bs-btn-disabled-bg: $mainbeige;
    // --bs-btn-disabled-border-color: $mainbeige;
    --bs-btn-bg: #bbb4a9;
    --bs-btn-border-color: #bbb4a9;
    --bs-btn-hover-bg: #546157;
    --bs-btn-hover-border-color: #546157;
    --bs-btn-active-bg: #546157;
    --bs-btn-disabled-bg: #bbb4a9;
    --bs-btn-disabled-border-color: #bbb4a9;
}

/* CARDS */
.card-body {
    padding: 0px;
    color: $maingreen;
}
.card{
    --bs-card-bg: #FEFBF6;
    text-align: center;
    --bs-card-title-spacer-y: 0rem;
    img{
        margin-top: 0.5rem;
    }
    p{
        font-size: 0.9rem;
        font-style: italic;
    }
    a:hover{
        transform: scale(1.007, 1.007);
        filter: drop-shadow(0 0 0.30rem #E4DCCF);
        transition: all .1s;
        color:$maingreen;
    }
}

/*! ESTILOS CATEGORIAS*/

.categ__txtTitulo{
    font-size: 30px;
    font-weight: light;
    font-family: 'Aboreto', cursive;
    text-decoration: overline;
    text-align: center;
    color: #6D8B74;
    margin-top: 50px;
    margin-bottom: 50px;
}
.categ__img{
    @include flex(flex, row, wrap);
    justify-content: space-around;
    img{
        @include sizes(250px, 250px);
        margin: 10px;
    }
}

/*! ESTILOS TIENDA */

.colorbox{
    background-color: #E4DCCF;
    padding: 15px;
    text-align: center;
    height: auto;
}

.txt1{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 1rem;
}
.txt2{
    font-size: 15px;
    font-weight: normal;
    text-decoration: underline;
}
.txt3{
    font-size: 15px;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 5px;
}

.green{
    color: $darkergreen;
}

.frente{
    @include sizes(60%, 60%);
}

/*! ESTILOS CONTACTO */

form{
    margin: auto;
    width: 400px;
    padding: 1rem;
    color-scheme: $darkgreen;
    border-radius: 1rem;
}

.form-style{
    h3{
        padding-bottom: 20px;
        text-align: center;
        color: $maingreen;
    }
    legend{
        font-size: 17px;
    }
    label{
        font-size: 15px;
    }
}

input{
    border-spacing: 2px;
    font-family: 'Inconsolata', monospace;
}

textarea{
    vertical-align: top;
    font-family: 'Inconsolata', monospace;
}

